turn,white_moves_total,white_attacks,white_castling_rights,white_check,black_moves_total,black_attacks,black_castling_rights,black_check,Q,q,R,r,B,b,N,n,P,p
111,5,9,1,0,-8,-3,1,0,776,-703,379,-413,312,-303,294,-282,155,-175