[file_paths]
engine_evaluations=../data/stockfish.csv
uci_moves=../data/data_uci.pgn
processed_uci_moves=../data/processed_data_uci.txt
fen_evaluations=../data/fen_evaluations.csv
features_csv=../data/features.csv

[engine]
min_depth=1
max_depth=3
max_move_time=10

[machine_learning]
linear_regression_coefficients_path=../coefficients.csv
